//Main container -----------
@media screen and (max-width: 1013px) {
    .main-container {
        width: 100%;
    }
}

//Showcase --------------
@media screen and (max-width: 1300px) {
    .welcome > .wrapper > span {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1180px) {
    .welcome > .wrapper > span {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1013px) {
    .showcase {
        flex-direction: column;
        margin: 0;
    }

    .welcome {
        width: 100%;

        .wrapper {
            text-align: center;

            hr {
                max-width: 10rem;
                margin: 1rem auto;
            }

            p {
                padding: 0;
            }
        }
    }

    .design {
        width: 100%;
        margin: 0;
    }
}