//Main container -----------
@media screen and (max-width: 1013px) {
    .main-container {
        width: 100%;
    }
}

//Showcase --------------
@media screen and (max-width: 1300px) {
    .welcome>.wrapper>span {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1180px) {
    .welcome>.wrapper>span {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1013px) {
    .showcase {
        flex-direction: column;
        margin: 0;
    }

    .welcome {
        width: 100%;

        .wrapper {
            text-align: center;

            hr {
                max-width: 10rem;
                margin: 1rem auto;
            }

            p {
                padding: 0;
            }
        }
    }

    .design {
        width: 100%;
        margin: 0;
    }
}

// WEB DEV & LISTS --------------------
@media screen and (max-width: 1013px) {
    .web-dev-lists-container {
        flex-direction: column;
    }

    .web-dev-description {
        display: none;
    }

    .wireframe-list-container {
        width: 100%;
        margin: 2rem 0 0 0;

        .wireframe {
            padding: 0;
        }

        .custom-list {
            flex-direction: column;

            .list {
                width: 100%;
                margin-bottom: 2rem;
            }

            .list-description {
                width: 100%;
            }
        }
    }
}

// CONTACT ---------------
@media screen and (max-width: 1400px) {
    .contact-main-container {
        width: 90%;
    }
}

@media screen and (max-width: 1100px) {
    .contact-main-container {
        width: 100%;
    }
}

@media screen and (max-width: 1013px) {
    .contact-description {
        display: none;
    }

    .contact-heading {

        h1 {
            text-align: center;
        }

        hr {
            margin: auto;
            max-width: 70%;
            margin-bottom: 3rem;
        }
    }

    .contact-form {
        width: 100%;
    }
}